@page "/parentcomponent"

<h3 style="@Style" class="alert alert-danger">ParentComponent</h3>

<CascadingValue Value="@Style">
    <ChildComponent Title="This title is passed as child component">
        <ChildContent>
            Test description
        </ChildContent>
        <Child2Content>
            Test 2 description
        </Child2Content>

    </ChildComponent>
</CascadingValue>

<AttributeChildComponent InputAttributes="InputAttributes"></AttributeChildComponent>

@code {

    public string Style { get; set; } = "color:red";

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>
{
        {"required","required" },
        {"placeholder","Enter Course Name" },
          {"maxlength","11" },
    };
}
